.col-a {
  min-width: 30px;
  font-size: 0.75rem;
}
.col-b {
  min-width: 60px;
  font-size: 0.75rem;
}
.col-c {
  min-width: 100px;
  font-size: 0.75rem;
}

.sortable {
  cursor: pointer;
}

small {
  font-size: 0.75rem;
}
