.nav-site {
  font-size: 0.85rem;
}

.navbar {
  align-items: baseline;
  justify-content: start;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
}

.nav-active {
  color: #0d6efd;
}

small {
  font-size: 0.75rem;
}

.btn {
  font-size: 0.7rem;
}
