<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" routerLink="">LPH</span>
  <a
    *ngIf="latestWeek > regularSeasonWeeks"
    [ngClass]="
      view !== 'playoffs'
        ? 'navbar-brand nav-site nav-active'
        : 'navbar-brand nav-site '
    "
    routerLink=""
    id="playoffs"
    (click)="setView('playoffs')"
    >Playoffs</a
  >
  <a
    [ngClass]="
      view !== 'scores'
        ? 'navbar-brand nav-site nav-active'
        : 'navbar-brand nav-site'
    "
    routerLink=""
    id="scores"
    (click)="setView('scores')"
    >Scores</a
  >
  <a
    [ngClass]="
      view !== 'standings'
        ? 'navbar-brand nav-site nav-active'
        : 'navbar-brand nav-site'
    "
    routerLink=""
    id="standings"
    (click)="setView('standings')"
    >Standings</a
  >
  <a
    [ngClass]="
      view !== 'ranks'
        ? 'navbar-brand nav-site nav-active'
        : 'navbar-brand nav-site'
    "
    routerLink=""
    id="ranks"
    (click)="setView('ranks')"
    >Ranks</a
  >
  <div class="col text-end">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-light btn-sm my-1"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ currentYear }}
      </button>
      <div ngbDropdownMenu>
        <button
          *ngFor="let year of years"
          ngbDropdownItem
          (click)="setYear(year)"
        >
          {{ year }}
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <app-playoffs *ngIf="view === 'playoffs'"></app-playoffs>
      <app-results *ngIf="view === 'scores'"></app-results>
      <app-standings *ngIf="view === 'standings'"></app-standings>
      <app-ranks *ngIf="view === 'ranks'"></app-ranks>
      <small
        ><i>Last updated: {{ lastUpdated }}</i></small
      >
    </div>
  </div>
</div>
